/* line 4, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.3/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 6, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.3/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  font-size: 100.01%;
}

/* line 16, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.3/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
pre, a, abbr, acronym, address, code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 18, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.3/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  quotes: "" "";
}
/* line 45, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.3/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 20, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.3/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 22, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.3/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.3/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

/* line 2, src/partials/_gritter.sass */
* html #gritter-notice-wrapper {
  position: absolute;
}
/* line 4, src/partials/_gritter.sass */
* html .gritter-top {
  margin-bottom: -10px;
}
/* line 6, src/partials/_gritter.sass */
* html .gritter-item {
  padding-bottom: 0;
}
/* line 8, src/partials/_gritter.sass */
* html .gritter-bottom {
  margin-bottom: 0;
}
/* line 10, src/partials/_gritter.sass */
* html .gritter-close {
  background: url(/images/gritter-close-ie6.gif);
  width: 22px;
  height: 22px;
  top: 7px;
  left: 7px;
}

/* line 17, src/partials/_gritter.sass */
#gritter-notice-wrapper {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 301px;
  z-index: 9999;
}

/* line 24, src/partials/_gritter.sass */
.gritter-item-wrapper {
  position: relative;
  margin: 0 0 10px 0;
  background: url(".");
}

/* line 29, src/partials/_gritter.sass */
.gritter-top {
  background: url(/images/gritter.png) no-repeat left -30px;
  height: 10px;
}

/* line 34, src/partials/_gritter.sass */
.hover .gritter-top {
  background-position: right -30px;
}
/* line 36, src/partials/_gritter.sass */
.hover .gritter-bottom {
  background-position: bottom right;
}
/* line 38, src/partials/_gritter.sass */
.hover .gritter-item {
  background-position: right -40px;
}

/* line 41, src/partials/_gritter.sass */
.gritter-bottom {
  background: url(/images/gritter.png) no-repeat left bottom;
  height: 8px;
  margin: 0;
}

/* line 46, src/partials/_gritter.sass */
.gritter-item {
  display: block;
  background: url(/images/gritter.png) no-repeat left -40px;
  color: #eeeeee;
  padding: 2px 11px 8px 11px;
  font-size: 11px;
  font-family: verdana;
}
/* line 53, src/partials/_gritter.sass */
.gritter-item p {
  padding: 0;
  margin: 0;
}

/* line 57, src/partials/_gritter.sass */
.gritter-close {
  position: absolute;
  top: 5px;
  left: 3px;
  background: url(/images/gritter.png) no-repeat left top;
  cursor: pointer;
  width: 30px;
  height: 30px;
}

/* line 66, src/partials/_gritter.sass */
.gritter-title {
  font-size: 16px;
  font-weight: bold;
  padding: 0 0 7px 0;
  display: block;
  text-shadow: 1px 1px black;
}

/* line 73, src/partials/_gritter.sass */
.gritter-image {
  width: 48px;
  height: 48px;
  float: left;
}

/* line 78, src/partials/_gritter.sass */
.gritter-with-image, .gritter-without-image {
  padding: 0 0 5px 0;
}

/* line 81, src/partials/_gritter.sass */
.gritter-with-image {
  width: 220px;
  float: right;
}

/* incase an inverted custom gradient isn't specified */
/* line 167, src/partials/_fancy-buttons.sass */
.fancy-button-reset-base-class, #psg_results .controls button.close, .modal button.close {
  font-family: "Lucida Grande", Lucida, Arial, sans-serif;
  background: url('../images/button_bg.png?1282848271') repeat-x bottom left;
  margin: 0;
  width: auto;
  overflow: visible;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  border-style: solid;
  font-weight: bold;
}
/* line 156, src/partials/_fancy-buttons.sass */
.fancy-button-reset-base-class::-moz-focus-inner, #psg_results .controls button.close::-moz-focus-inner, .modal button.close::-moz-focus-inner {
  border: none;
  padding: 0;
}
/* line 159, src/partials/_fancy-buttons.sass */
.fancy-button-reset-base-class:focus, #psg_results .controls button.close:focus, .modal button.close:focus {
  outline: none;
}

/* line 24, src/partials/_two_col.sass */
.two-col {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}
/* line 26, src/partials/_two_col.sass */
.two-col #content {
  display: inline;
  float: left;
  margin-right: 0;
  width: 630px;
}
/* line 138, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .two-col #content {
  overflow-x: hidden;
}

/* line 33, src/partials/_two_col.sass */
body {
  background: url("../images/tile01.gif") repeat-x white;
}

/* line 36, src/partials/_two_col.sass */
#root {
  background: url("../images/header_background.jpg") no-repeat center top;
}

/* line 39, src/partials/_two_col.sass */
#header, #footer {
  display: inline;
  float: left;
  margin-right: 0;
  width: 950px;
}
/* line 138, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #header, * html #footer {
  overflow-x: hidden;
}

/* line 42, src/partials/_two_col.sass */
#header {
  margin-bottom: 20px;
}

/* line 45, src/partials/_two_col.sass */
#footer {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  display: block;
  float: none;
  margin-top: 20px;
}

/* line 14, src/partials/_page.sass */
body {
  font-family: "helvetica neue", helvetica, arial, sans-serif;
}

/* line 17, src/partials/_page.sass */
.buttons input {
  background: #235cba;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #519bf7), color-stop(100%, #2068e3));
  background-image: -moz-linear-gradient(top, #519bf7 0%, #2068e3 100%);
  background-image: linear-gradient(top, #519bf7 0%, #2068e3 100%);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  border: #7a8da7 1px solid;
  text-shadow: black 1px 1px 1px;
  -moz-box-shadow: #cccccc 0 3px 2px 0;
  -webkit-box-shadow: #cccccc 0 3px 2px 0;
  -o-box-shadow: #cccccc 0 3px 2px 0;
  box-shadow: #cccccc 0 3px 2px 0;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

/* line 29, src/partials/_page.sass */
#header .logo {
  background: url("../images/logo.png") no-repeat;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 350px;
  height: 50px;
}
/* line 138, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #header .logo {
  overflow-x: hidden;
}
/* line 33, src/partials/_page.sass */
#header .logo h1 {
  text-indent: -9999px;
}
/* line 35, src/partials/_page.sass */
#header .navigation {
  color: white;
  font-size: 12px;
  display: inline;
  float: left;
  margin-right: 0;
  width: 590px;
  margin-top: 10px;
}
/* line 8, src/partials/_page.sass */
#header .navigation a {
  color: white;
}
/* line 10, src/partials/_page.sass */
#header .navigation a:hover {
  color: #f6ac1c;
  text-decoration: underline;
}
/* line 138, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #header .navigation {
  overflow-x: hidden;
}
/* line 39, src/partials/_page.sass */
#header .navigation #nav-bar {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
  *zoom: 1;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 470px;
}
/* line 51, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.3/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
#header .navigation #nav-bar li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 43, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.3/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
#header .navigation #nav-bar li:first-child, #header .navigation #nav-bar li.first {
  padding-left: 0px;
}
/* line 44, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.3/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
#header .navigation #nav-bar li:last-child, #header .navigation #nav-bar li.last {
  padding-right: 0px;
}
/* line 138, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #header .navigation #nav-bar {
  overflow-x: hidden;
}
/* line 42, src/partials/_page.sass */
#header .navigation #nav-bar .contactus {
  width: 310px;
  text-align: right;
}
/* line 45, src/partials/_page.sass */
#header .navigation #nav-bar .contactus p {
  margin-right: 20px;
}
/* line 47, src/partials/_page.sass */
#header .navigation #nav-bar .contactus h2 {
  margin-right: 20px;
  font-size: 24px;
  font-weight: bold;
}
/* line 51, src/partials/_page.sass */
#header .navigation #nav-bar .contactus h2 span {
  color: #c9c9c9;
}
/* line 53, src/partials/_page.sass */
#header .navigation #nav-bar li {
  width: 70px;
}
/* line 55, src/partials/_page.sass */
#header .navigation #language-bar {
  display: inline;
  float: left;
  margin-right: 0;
  width: 110px;
}
/* line 138, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #header .navigation #language-bar {
  overflow-x: hidden;
}

/* line 58, src/partials/_page.sass */
#menubar {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 710px;
  margin-top: 33px;
  color: white;
  font-size: 12px;
}
/* line 138, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #menubar {
  overflow-x: hidden;
}
/* line 60, src/partials/_page.sass */
#menubar ul {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 51, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.3/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
#menubar ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 0;
  padding-right: 0;
}
/* line 43, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.3/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
#menubar ul li:first-child, #menubar ul li.first {
  padding-left: 0px;
}
/* line 44, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.3/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
#menubar ul li:last-child, #menubar ul li.last {
  padding-right: 0px;
}
/* line 8, src/partials/_page.sass */
#menubar a {
  color: white;
}
/* line 10, src/partials/_page.sass */
#menubar a:hover {
  color: #f6ac1c;
  text-decoration: underline;
}
/* line 64, src/partials/_page.sass */
#menubar li {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  margin-right: 4px;
}
/* line 66, src/partials/_page.sass */
#menubar li.current {
  background: #840707;
}
/* line 68, src/partials/_page.sass */
#menubar li:hover {
  background: #b91416;
}
/* line 71, src/partials/_page.sass */
#menubar li a {
  padding: 6px 13px 4px;
  display: inline-block;
  text-transform: Uppercase;
  text-decoration: none;
  font-weight: bold;
}
/* line 77, src/partials/_page.sass */
#menubar li a:hover {
  color: white;
}

/* line 80, src/partials/_page.sass */
#search_box {
  display: inline;
  float: left;
  margin-right: 0;
  width: 230px;
  position: relative;
  margin-top: 33px;
}
/* line 138, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #search_box {
  overflow-x: hidden;
}
/* line 85, src/partials/_page.sass */
#search_box #taxon {
  display: none;
}
/* line 87, src/partials/_page.sass */
#search_box #keywords {
  width: 220px;
}
/* line 89, src/partials/_page.sass */
#search_box button {
  background: url("../images/sprite.png") no-repeat scroll 0 -48px transparent;
  border: 0 none;
  cursor: pointer;
  display: block;
  float: right;
  height: 19px;
  padding: 0;
  position: absolute;
  right: 3px;
  top: 1px;
  width: 22px;
  z-index: 2;
}
/* line 102, src/partials/_page.sass */
#search_box ul {
  list-style: none;
}
/* line 11, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.3/frameworks/compass/stylesheets/compass/utilities/lists/_bullets.scss */
#search_box ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
}

/* line 105, src/partials/_page.sass */
.dropdown {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  color: white;
  float: left;
  height: 15px;
  width: 84px;
  position: relative;
}
/* line 113, src/partials/_page.sass */
.dropdown ul {
  display: none;
  background: black;
  position: absolute;
  left: 0;
  z-index: 100;
  width: 120px;
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 125, src/partials/_page.sass */
.dropdown ul li {
  background: none;
  padding: 10px 10px 5px;
}
/* line 129, src/partials/_page.sass */
.dropdown ul li img {
  margin-right: 10px;
}
/* line 131, src/partials/_page.sass */
.dropdown ul li a {
  color: #636363;
  text-decoration: none;
}
/* line 134, src/partials/_page.sass */
.dropdown li:hover {
  background: url(/images/sprite.png) 0 -60px no-repeat;
  color: white;
}
/* line 137, src/partials/_page.sass */
.dropdown li:hover ul {
  display: block;
}
/* line 139, src/partials/_page.sass */
.dropdown li:hover ul li:hover {
  background: #171717;
}

/* line 143, src/partials/_page.sass */
#footer {
  font-size: 12px;
  border-top: #cccccc solid 1px;
  padding-top: 10px;
}
/* line 147, src/partials/_page.sass */
#footer .bottombar {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
  *zoom: 1;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 630px;
  margin-bottom: 20px;
}
/* line 51, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.3/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
#footer .bottombar li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 0;
  padding-right: 0;
}
/* line 43, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.3/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
#footer .bottombar li:first-child, #footer .bottombar li.first {
  padding-left: 0px;
}
/* line 44, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.3/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
#footer .bottombar li:last-child, #footer .bottombar li.last {
  padding-right: 0px;
}
/* line 138, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #footer .bottombar {
  overflow-x: hidden;
}
/* line 151, src/partials/_page.sass */
#footer .bottombar a {
  padding: 0 4px 0 5px;
}
/* line 153, src/partials/_page.sass */
#footer .bottomlogo {
  display: inline;
  float: left;
  margin-right: 0;
  width: 310px;
  margin-bottom: 5px;
}
/* line 138, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #footer .bottomlogo {
  overflow-x: hidden;
}

/* line 2, src/partials/_home.sass */
.home #taxonomies {
  display: none;
}

/* line 5, src/partials/_home.sass */
#sidebar {
  font-size: 12px;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 310px;
  padding: 10px 0 0 30px;
}
/* line 138, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #sidebar {
  overflow-x: hidden;
}
/* line 9, src/partials/_home.sass */
#sidebar .sb01, #sidebar .sb02, #sidebar .sb03 {
  color: white;
  font-size: 43px;
  width: 200px;
  text-shadow: black 2px 2px 2px;
}
/* line 14, src/partials/_home.sass */
#sidebar .sb01 {
  font-style: italic;
}
/* line 16, src/partials/_home.sass */
#sidebar .sb02 {
  font-style: italic;
  font-weight: bold;
  text-align: right;
}
/* line 20, src/partials/_home.sass */
#sidebar .sb03 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
}
/* line 25, src/partials/_home.sass */
#sidebar .shipping {
  margin-top: 220px;
}
/* line 27, src/partials/_home.sass */
#sidebar .install {
  margin-top: 20px;
}
/* line 29, src/partials/_home.sass */
#sidebar .address {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
  *zoom: 1;
  margin-top: 10px;
}
/* line 51, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.3/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
#sidebar .address li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 0;
  padding-right: 0;
}
/* line 43, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.3/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
#sidebar .address li:first-child, #sidebar .address li.first {
  padding-left: 0px;
}
/* line 44, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.3/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
#sidebar .address li:last-child, #sidebar .address li.last {
  padding-right: 0px;
}
/* line 32, src/partials/_home.sass */
#sidebar img {
  border: #aebac3 2px solid;
}
/* line 34, src/partials/_home.sass */
#sidebar p {
  font-size: 11px;
  padding-left: 10px;
}
/* line 37, src/partials/_home.sass */
#sidebar .c-leaf {
  background-image: url("../images/sprite.png");
  text-indent: -999px;
  height: 50px;
  margin-top: 270px;
  width: 160px;
}
/* line 43, src/partials/_home.sass */
#sidebar ul {
  margin-top: 30px;
}
/* line 45, src/partials/_home.sass */
#sidebar ul li {
  margin-bottom: 10px;
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
}

/* line 49, src/partials/_home.sass */
#psg_results {
  overflow: hidden;
  *zoom: 1;
  display: inline;
  float: left;
  margin-right: 0;
  width: 950px;
  margin-top: 10px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  background-color: #dedede;
  display: none;
}
/* line 138, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #psg_results {
  overflow-x: hidden;
}
/* line 56, src/partials/_home.sass */
#psg_results .car-details {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 310px;
}
/* line 138, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #psg_results .car-details {
  overflow-x: hidden;
}
/* line 58, src/partials/_home.sass */
#psg_results .car-details span {
  padding: 3px;
  font-size: 14px;
}
/* line 61, src/partials/_home.sass */
#psg_results .wheel-details {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 150px;
  background-color: #ededed;
}
/* line 138, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #psg_results .wheel-details {
  overflow-x: hidden;
}
/* line 64, src/partials/_home.sass */
#psg_results .wheel-details span {
  padding: 3px;
  font-size: 14px;
}
/* line 67, src/partials/_home.sass */
#psg_results .tire-details {
  display: inline;
  float: left;
  margin-right: 0;
  width: 470px;
  background-color: #ededed;
}
/* line 138, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #psg_results .tire-details {
  overflow-x: hidden;
}
/* line 70, src/partials/_home.sass */
#psg_results .tire-details .tire {
  float: left;
  width: 60px;
  padding: 3px;
  font-size: 14px;
  display: inline;
}
/* line 76, src/partials/_home.sass */
#psg_results .controls {
  display: inline;
  float: left;
  margin-right: 0;
  width: 150px;
  padding-left: 800px;
  margin-top: 2px;
  margin-bottom: 2px;
}
/* line 138, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #psg_results .controls {
  overflow-x: hidden;
}
/* line 81, src/partials/_home.sass */
#psg_results .controls button.close {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  font-size: 12px;
  line-height: 1.2em;
  padding: 0.3em 1em;
  border-width: 1px;
  background-color: #999999;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #ededed), color-stop(10%, #bfbfbf), color-stop(50%, #919191), color-stop(50%, #8a8a8a), color-stop(100%, #a3a3a3));
  background-image: -moz-linear-gradient(top, #ededed 0%, #bfbfbf 10%, #919191 50%, #8a8a8a 50%, #a3a3a3 100%);
  background-image: linear-gradient(top, #ededed 0%, #bfbfbf 10%, #919191 50%, #8a8a8a 50%, #a3a3a3 100%);
  border-color: #737373;
  text-shadow: #595959 0px 1px 1px;
}
/* line 105, src/partials/_fancy-buttons.sass */
#psg_results .controls button.close, #psg_results .controls button.close:visited {
  color: white;
}
/* line 25, src/partials/_fancy-buttons.sass */
#psg_results .controls button.close:hover, #psg_results .controls button.close:focus {
  background-color: #919191;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #e6e6e6), color-stop(10%, #b8b8b8), color-stop(50%, #8a8a8a), color-stop(50%, #828282), color-stop(100%, #9c9c9c));
  background-image: -moz-linear-gradient(top, #e6e6e6 0%, #b8b8b8 10%, #8a8a8a 50%, #828282 50%, #9c9c9c 100%);
  background-image: linear-gradient(top, #e6e6e6 0%, #b8b8b8 10%, #8a8a8a 50%, #828282 50%, #9c9c9c 100%);
  border-color: #6b6b6b;
  text-shadow: #525252 0px 1px 1px;
}
/* line 105, src/partials/_fancy-buttons.sass */
#psg_results .controls button.close:hover, #psg_results .controls button.close:hover:visited, #psg_results .controls button.close:focus, #psg_results .controls button.close:focus:visited {
  color: white;
}
/* line 30, src/partials/_fancy-buttons.sass */
#psg_results .controls button.close:active {
  background-color: #8a8a8a;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #8a8a8a), color-stop(30%, #8f8f8f), color-stop(50%, #858585), color-stop(50%, #7d7d7d), color-stop(100%, #9e9e9e));
  background-image: -moz-linear-gradient(top, #8a8a8a 0%, #8f8f8f 30%, #858585 50%, #7d7d7d 50%, #9e9e9e 100%);
  background-image: linear-gradient(top, #8a8a8a 0%, #8f8f8f 30%, #858585 50%, #7d7d7d 50%, #9e9e9e 100%);
  border-color: #636363;
  text-shadow: #4a4a4a 0px -1px -1px;
}
/* line 105, src/partials/_fancy-buttons.sass */
#psg_results .controls button.close:active, #psg_results .controls button.close:active:visited {
  color: white;
}

/* line 1, src/partials/_ui_utility.sass */
.modal {
  background-color: white;
  display: none;
  width: 350px;
  padding: 15px;
  text-align: left;
  border: 2px solid #333333;
  opacity: 0.8;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-box-shadow: 0 0 50px #cccccc;
  -webkit-box-shadow: 0 0 50px #cccccc;
}
/* line 13, src/partials/_ui_utility.sass */
.modal h2 {
  background: url(../images/icons/car.png) 0 50% no-repeat;
  margin: 0;
  padding: 10px 0 10px 45px;
  border-bottom: 1px solid #333333;
  font-size: 20px;
}
/* line 19, src/partials/_ui_utility.sass */
.modal .psg {
  height: 30px;
}
/* line 21, src/partials/_ui_utility.sass */
.modal .psg label {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 70px;
}
/* line 138, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .modal .psg label {
  overflow-x: hidden;
}
/* line 23, src/partials/_ui_utility.sass */
.modal .psg select {
  display: inline;
  float: left;
  margin-right: 0;
  width: 150px;
}
/* line 138, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .modal .psg select {
  overflow-x: hidden;
}
/* line 25, src/partials/_ui_utility.sass */
.modal button.close {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  font-size: 18px;
  line-height: 1.2em;
  padding: 0.3em 1em;
  border-width: 1px;
  background-color: white;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #ffffff), color-stop(10%, #ffffff), color-stop(50%, #d5d5d5), color-stop(50%, #cecece), color-stop(100%, #e7e7e7));
  background-image: -moz-linear-gradient(top, #ffffff 0%, #ffffff 10%, #d5d5d5 50%, #cecece 50%, #e7e7e7 100%);
  background-image: linear-gradient(top, #ffffff 0%, #ffffff 10%, #d5d5d5 50%, #cecece 50%, #e7e7e7 100%);
  border-color: #b7b7b7;
  text-shadow: white 0px 1px 1px;
}
/* line 109, src/partials/_fancy-buttons.sass */
.modal button.close, .modal button.close:visited {
  color: #222222;
}
/* line 25, src/partials/_fancy-buttons.sass */
.modal button.close:hover, .modal button.close:focus {
  background-color: white;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #ffffff), color-stop(10%, #fcfcfc), color-stop(50%, #cecece), color-stop(50%, #c6c6c6), color-stop(100%, #e0e0e0));
  background-image: -moz-linear-gradient(top, #ffffff 0%, #fcfcfc 10%, #cecece 50%, #c6c6c6 50%, #e0e0e0 100%);
  background-image: linear-gradient(top, #ffffff 0%, #fcfcfc 10%, #cecece 50%, #c6c6c6 50%, #e0e0e0 100%);
  border-color: #afafaf;
  text-shadow: white 0px 1px 1px;
}
/* line 109, src/partials/_fancy-buttons.sass */
.modal button.close:hover, .modal button.close:hover:visited, .modal button.close:focus, .modal button.close:focus:visited {
  color: #222222;
}
/* line 30, src/partials/_fancy-buttons.sass */
.modal button.close:active {
  background-color: white;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #cecece), color-stop(30%, #d3d3d3), color-stop(50%, #c9c9c9), color-stop(50%, #c1c1c1), color-stop(100%, #e2e2e2));
  background-image: -moz-linear-gradient(top, #cecece 0%, #d3d3d3 30%, #c9c9c9 50%, #c1c1c1 50%, #e2e2e2 100%);
  background-image: linear-gradient(top, #cecece 0%, #d3d3d3 30%, #c9c9c9 50%, #c1c1c1 50%, #e2e2e2 100%);
  border-color: #a7a7a7;
  text-shadow: white 0px -1px -1px;
}
/* line 109, src/partials/_fancy-buttons.sass */
.modal button.close:active, .modal button.close:active:visited {
  color: #222222;
}
